<?php

namespace Tests\Fixtures;

/**
 * Class Credentials
 * @package Tests\Fixtures
 */
class Credentials
{
    /**
     * @var string
     */
    public static $consumerToken = "";

    /**
     * @var string
     */
    public static $consumerSecret = "";

    /**
     * @var string
     */
    public static $userToken = "";

    /**
     * @var string
     */
    public static $userSecret = "";
}
